.img-container {
    position: relative;
    cursor:pointer;
  }
  
  .img-container-itj {
    height:250px;
  }

  .img-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius:0;
  }

  .img-image-itj{
    height:100%;
  }
  
  .img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(0,110,161,1) 0%,rgba(0,110,161,.7) 100%);
    overflow: hidden;
    width: 100%;
    height: 50px;
    transition: .5s ease;
  }
  
  .img-container:hover .img-overlay {
    height: 100%;
  }
 
  @media (min-width: 48em){
    .img-container:hover .img-title {
      font-size: 3em;
    }
  }

  @media (min-width: 64em){
    .img-container:hover .img-title {
      font-size: 2em;
    }
  }

  @media (min-width: 83.5em){
    .img-container:hover .img-title {
      font-size: 3em;
    }
  }

  .img-container:hover .img-title {
    font-size: 3em;
  }

  .img-text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  
  .img-overlay-itj {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
  }
  
  .img-container-itj:hover .img-overlay-itj {
    opacity: .85;
  }

  .img-container-itj:hover .img-title {
    font-size: 3em;
  }

  .carousel .carousel-item{
    width: 500px;
    height:500px;
  }