.transparent-nav {
    background-color: transparent;
    box-shadow: none;
}

.sidebar{
    box-shadow: 3px 0 3px #ccc;
    background-color:white;
    color: rgba(0,0,0,0.87);
}

.sidebar .background{
    background-image: url(/public/img/profile-card-bg.jpg);
    background-position: 55% 20%;
    background-size: cover;
    min-height: 120px;
}

.no-bottom{
    margin-bottom:0;
}

.margin-top-15{
    margin-top:15px;
}
.margin-side-15{
    margin: 0 15px;
}
.no-padding{
    padding:0;
}

.font-16{
    font-size: 16px;
}

.icon-64{
    max-width: 64px;
}

.accent-text{
    color: rgba(0,0,0,0.87);
}

.light-text{
     color: rgba(0,0,0,0.54);
}

.none-decoration, 
.none-decoration:hover{
    text-decoration: none;
}

.mid-image-container{
    margin-bottom:-32px;
}

.mid-image{
    height: 96px;
    margin-top: -36px;
}