body{
    color:#555;
}

strong{
    font-weight: bolder;
}


.transparent-nav {
    background-color: transparent;
    box-shadow: none;
    height:auto;
}

.sidebar{
    background: #222;
    color: white;
    z-index:99;
}
.side-nav li>a{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400; 
}
.side-nav li>a:hover{
    background-color:transparent;
    color: #24bfcf;
}


.sidebar .background{
    background-image: url(/public/img/profile-card-bg.jpg);
    background-position: 55% 20%;
    background-size: cover;
    min-height: 120px;
}



.icon{
    transition: all 300ms;
}

.icon:hover{
    transform: scale(1.3);
}


.icon-medium{
    max-width: 36px;
}

.square{
    border-radius:0%;
}

.accent-text{
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.light-text{
     color: rgba(0,0,0,0.54);
}

.parallax-text{
    margin-top:25%;
}

.none-decoration, 
.none-decoration:hover,
.none-decoration:focus{
    text-decoration: none;
    outline: none;
}

.mid-image-container{
    margin-bottom:-32px;
}

.mid-image{
    height: 96px;
    margin-top: -36px;
}

.bg-image{
    background-image: url('/public/img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
}

.intro-content{
    height: 100vh;
}

.post-date{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.default-font{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.light-font{
    font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.content-card{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right:auto;
    padding: 15px 30px;
    padding-top: 15px;
    
}

.parallax-container {
    min-height:500px;
  }

.side-nav{
        position: static;
        width: auto;
        -webkit-box-shadow: none;
        box-shadow: none;
}

.divider {
    height: 10px;
    overflow: hidden;
    background-color:transparent;
}

.side-nav li>a{
    font-size: 18px;
    color: white;
    text-align: center;
    height:36px;
}

.strong-on-hover:hover{
    color: rgba(0,0,0,0.87);
}

.huge{
    font-size: 2.0rem;
    color: #24bfcf;
    font-weight: lighter;
    font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif
}


h2.huge{
    margin-top: 60px;
    margin-bottom: 45px;    
}

h2.huge.margin-top-0{
    margin-top: 0;
    margin-bottom: 45px;    
}

h2.huge.margin-low{
    margin-top: 15px;
    margin-bottom: 5px;    
}

h2.huge.img-title{
    margin-top:35px;
    color:white;
    font-size: 1.5rem;
    transition: .3s ease;
}

h2{
    font-weight: 200;
    color: #24bfcf;
}

h3{
    font-weight: 200;
    color: #24bfcf;
}

h3.huge{
    font-size: 1.5rem;
    margin:0;
}

h3.huge.margin-top-65{
    font-size: 1.5rem;
    margin:0;
    margin-top:65px;
}

.content-list-item{
    float: none;
    line-height: 48px;
    margin-top:10px;
}

.content-list-item a{
    text-decoration:none !important;
    color: #555;
    display: block;
    font-weight: 300;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    font-size: 22px;
    border-bottom: 1px solid #eee;
}

.content-list-item a.font-16{
    font-size:16px;
}

.content-list-item a.font-12{
    font-size:12px;
}

.content-list-item a.font-small{
    font-size:14px;
}

.content-list-item a:hover{
    background-color: transparent;
    color: #24bfcf
}

.content p{
    text-align: justify;
    color:#555;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif
}

.content blockquote p{
    text-align: left;
}

.text-left{
    text-align: left;
}

.border-none{
    border:none;
}

.light-bottom-border{
    border-bottom: 1px solid #eee
}

.content-list-item a:hover{
    background-color: transparent;
    color: #24bfcf;
    text-decoration: none;
}

.content a{
    color: #555;
    text-decoration: underline;
    text-decoration-color: #24bfcf;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif
}

.content a:hover{
    color: #24bfcf;
}

.content .home-list a:hover{
    color: #24bfcf;
    background-color: rgba(0,0,0,0.02);
}


.no-bottom{
    margin-bottom:0;
}

.margin-top-32{
    margin-top:32px;
}

.margin-top-0{
    margin-top:0;
}

.margin-bottom-0{
    margin-bottom:0;
}

.margin-top-15{
    margin-top:15px;
}

.margin-side-15{
    margin: 0 15px;
}
.margin-top-65{
    margin-top:65px;
}
.margin-side-30{
    margin: 0 30px;
}

.no-padding{
    padding:0;
}

.padding-bottom-0{
    padding-bottom: 0;
}

.padding-top-0{
    padding-top: 0;
}

.padding-bottom-80{
    top: 95%;
    padding-bottom: 80px;
}

.font-16{
    font-size: 16px;
}

.font-12{
    font-size:12px;
}

.font-10{
    font-size:10px;
}


.font-small{
    font-size:14px;
}

.font-medium-large{
    font-size:22px;
}

.font-32{
    font-size:32px;
}

h2.font-medium-large.img-title{
    margin-top: 10px;
    color: white;
    font-size: 22px;
    font-weight: 100;
    transition: .3s ease;
}

.img-container:hover .font-medium-large.img-title {
    font-size: 2em;
}



.font-large{
    font-size:48px;
}

.font-64{
    font-size:64px;
}


.gold{
    color:#caa669
}






  @media (min-width: 48em) {
    .sidebar {
        width:16em;
    }

    .font-large{
        font-size:64px;   
       }

    .content {
        max-width: 30rem;
        margin-left: 16.5rem;
        margin-right: 2rem;
    }
}

@media (min-width: 64em){
    .content {
        margin-left: 16.5rem;
        margin-right: 4rem;
        max-width: 32rem;
    }
  }

  @media (min-width: 80em){
    .content {
        margin-left: 18rem;
        margin-right: 4rem;
        max-width: 45rem;
    }
  }

  a.brand-logo:hover,
  a.brand-logo:focus{
      text-decoration: none;
  }

  .speaker-name{
      text-align: center;
      font-weight: 200;
      color:#68217a;
  }

  .icon-itj{
    text-align: center;
    display: inherit;
  }

  .icon-padding{
      padding-top:5px;
  }

  .vertical-top{
    vertical-align: top;
  }
  .itj-font{
    font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  }

  .nav-itj{
    background-color: #68217a;
  }

  .no-margin{
     margin:0;
  }

  

  .banner-itj{
      min-height: 250px;
      background-color: #70397e;
  }

  .span-itj-left{
    font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    margin-left: 45px;
  }

  .span-itj-right{
    margin-right: 45px;
    font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 22px;
  }
  
  .img-itj{
    margin-top: -30px;
    height: 75px;
    vertical-align: middle;
    display: inline;
  }
  .margin-side-10p{
      margin-left:10%;
      margin-right:10%;
      text-align: justify;
  }
  .font-white{
      color: white;
  }

  .purple-itj{
    color: #68217a;
  }

  

  .banner-itj .text-itj .header{
    color:white;
    font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    margin-top:90px;
    font-size:42px;
}

  .nav-tango{
    background-color: #222;
  }

  .nav-tango ul a:hover,
  .nav-tango ul a.active{
    background-color: rgba(0,0,0,0.2);
    color: #ffb300;
    text-decoration: none;
    border-bottom: 1px solid #ffb300;
  }

  .img-tango{
    height: 64px;
    vertical-align: middle;
  }

  .post-excerpt,
  .post-excerpt:hover{
    color: #333;
    font-size: .8em;
    line-height: 1.6em;
  }

  .post-date{
      margin-bottom:3.5rem; 
  }

  ul.home-list .post-date,
  .content-list-item .post-date{
      margin-bottom:5px;
  }

  ul.home-list .content-list-item{
      margin-top:0;
  }
  .post-serie-badge{
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #617ab9;
    border-radius: 2px;
    min-width: 6rem;
    margin-left:0;
    float:left;
    text-align: center;
  }

  .post-tag-badge{
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #24bfcf;
    border-radius: 2px;
    min-width: 1.75rem;
    text-align: center;
  }

  .spoiler{
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: 15px;
  }

  .spoiler-message{
    cursor: pointer;
  }
    .spoiler-message span{
        color: rgb(85, 85, 85);
        font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
        font-size: 24px;
        margin-left: 30px;
        cursor: pointer;
    }

    .spoiler-hidden{
        display: none;
    }

    a.github-fixed-button {
        position: fixed;
        top: 15px;
        right: -55px;
        width: 65px;
        height: 65px;
        border-radius: 0;
    }
    
    a.github-fixed-button:hover{
            transform: scale(0.9) translateX(-60px);
            transition: all 300ms;       
        }

    a.github-fixed-button.open{
        transform: scale(1.2) translateX(-60px);
        transition: all 300ms;  
    }

    a.github-fixed-button.closing{
        transform: scale(1) translateX(0);
        transition: all 300ms;
    }

    a.github-fixed-button img.github-arrow{
        opacity: 0;
    }

    a.github-fixed-button.open img.github-arrow{
        opacity:1;
        transition: all 300ms;  
    }

    a.github-fixed-button.closing img.github-arrow{
        opacity:0;
        transition: all 300ms;  
    }

    


