.transparent-nav {
    background-color: transparent;
    box-shadow: none;
}

.sidebar{
    box-shadow: 3px 0 3px #ccc;
}

.sidebar .background{
    background-image: url(/public/img/profile-card-bg.jpg);
    background-position: 55% 20%;
    background-size: cover;
}

.no-bottom{
    margin-bottom:0;
}

.margin-top-15{
    margin-top:15px;
}
.margin-side-15{
    margin: 0 15px;
}
.no-padding{
    padding:0;
}

.font-16{
    font-size: 16px;
}

.none-decoration, 
.none-decoration:hover{
    text-decoration: none;
}

.mid-image-container{
    margin-bottom:-32px;
}

.mid-image{
    height: 96px;
    margin-top: -36px;
}