/*RESET*/
body{
    font-size:14px;
    background-color:#F8F8F8;
}

html{
    font-family: "Segoe UI", "PT Sans", Helvetica, Arial, sans-serif;
}

.row .col{
    padding:0;
}
/*RESETEND*/

/*SIDENAV TRIGGER*/

nav{
    background-color:white;
    background-color:white;
    -webkit-box-shadow: none;
    box-shadow: none;
    height:100px;
    line-height: 100px;

    -webkit-transition: all 500ms cubic-bezier(0, 0, 0.2, 1);;
    -moz-transition: all 500ms cubic-bezier(0, 0, 0.2, 1);;
    -ms-transition: all 500ms cubic-bezier(0, 0, 0.2, 1);;
    -o-transition: all 500ms cubic-bezier(0, 0, 0.2, 1);;
    transition: all 500ms cubic-bezier(0, 0, 0.2, 1);
}

navbar-fixed.scrolled,
nav.scrolled{
    height:64px;
    line-height:64px;
}

navbar-fixed{
    height:100px;
    line-height:100px;
}


nav .sidenav-trigger,
nav li>a,
nav .brand-logo{
    color:initial;
    font-size: 1.5em;
}

footer a:hover,
nav ul a:hover {
    background-color: rgba(0,0,0,0.02);
    color:#24bfcf;
}


nav .brand-logo{
    font-size: 2em;
    font-family: 'Segoe UI Light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .nav-wrapper img{
    height:80px;
    opacity:1;
    margin-right:30px;
    margin-top:10px;

    -webkit-transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
    -moz-transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
    -ms-transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
    transition: all 300ms cubic-bezier(0, 0, 0, 1.15);
}

nav.scrolled .nav-wrapper img{
    opacity:0;
    margin-right: 0;
    width: 0;
}

.sidenav-trigger{
    float:right !important;
}

.sidenav{
    width:100%;
    padding-top:60px;
    padding-right:10px;
    background: #333;
   
}



.sidenav li>a{
    font-size:2em;
    font-family:'Segoe UI Light';
    text-align:right;
    color: white;
}

.sidenav i{
    position: fixed;
    top: 15px;
    right: 40px;
    color: white;
}

/*SIDENAV TRIGGER END*/

/*CONTENT HOME*/
.content-div-home .parallax-container{
    height: 200px;
}

.content-div-home h2{
    text-align:center;
}

.content-div-home a.btn{
    background:transparent !important;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    border:1px solid #333 !important;
    border-radius:0 !important;
    height:auto !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
    padding-left:45px !important;
    padding-right:45px !important;
    color:#333 !important;
}

.content-div-home a.btn:hover{
    background: #24bfcf !important;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    border:1px solid white !important;
    border-radius:0 !important;
    height:auto !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
    padding-left:45px !important;
    padding-right:45px !important;
    color:white !important;
}


.parallax-container .parallax img{
    bottom:325px;
}

h1,h2{
    font-family: 'Segoe UI Light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-family: 'Segoe UI Semibold','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parallax-text{
    font-size:3em;
    text-shadow: 2px 2px #000000;
}

.bg-white{
    background-color:white;
}

.content-container{
    padding:15px;
}

.content-container h2{
    font-size:3.5em;
    text-transform:uppercase;
    margin-top: 10px;
}

.post{
    padding:15px;
    background-color:white;
    color: #333;
    margin: 15px;
    min-height: 380px;
    height: 380px;
}

.post a{
    color: #333;
}

.post a:hover .card-title{
    color:#24bfcf;

}

.post-excerpt{
    font-size:1.2em;
}

.card-title{
    font-size:1.5em;
    font-family: 'Segoe UI Light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-date{
    color: #9a9a9a;
}
/*CONTENT HOME END*/

/*Newsletter*/

.newsletter{
    background-color: #222;
    padding-top:30px;
    border: none;
}

.newsletter input{
    padding-left:.75rem !important;
    font-family: 'Segoe UI Light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.5em !important;
}
.newsletter input:focus + label{
    color:white !important;
}
.newsletter input:focus{
    border-bottom: 1px solid white !important;
    -webkit-box-shadow: 0 1px 0 0 white !important;
    box-shadow: 0 1px 0 0 white !important;
}

.newsletter h2{
    color:white;
    font-size: 3em;
}

.newsletter button{
    background:transparent;
    box-shadow:none;
    -webkit-box-shadow:none;
    border:1px solid white;
    border-radius:0;
    height:auto;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:45px;
    padding-right:45px;
}

.newsletter button:hover{
    background:white;
    color:#222;
    box-shadow:none;
    -webkit-box-shadow:none;
}

.newsletter input{
    color:white;
}

/*Newsletter END*/

/*FOOTER*/

footer{
    background-color: #222;
    min-height:300px;
    color:white;
    padding-top:30px;
    padding-bottom:30px;
}
footer .row{
    margin-bottom:0;
}
footer .col .row{
    margin-left:0;
    margin-right:0;
}

footer a{
    color:white;
}

footer p{
    margin:0;
    margin-bottom:15px;
}

footer h3{
    font-family: 'Segoe UI Light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2em;
}

.sidenav .icon,
footer .icon{
    height: 75px;
    max-width: 30%;
}
/*FOOTER END*/

/*MOBILE*/
@media(max-width: 991px) {
    .sidenav .icon{
        margin-top:60px;
    }

    .center-on-small{
        text-align:center;
    }

    nav,
    nav.scrolled{
        height:56px;
        line-height: 56px;
    }

    nav .brand-logo{
        font-size:1.9em;
    }

    nav .nav-wrapper img{
        opacity:0;
        margin-right: 0;
        width: 0;
    }

}

/*MOBILE END*/

/*DESKTOP*/
@media(min-width: 992px) {
    .sidenav{
        display:none;
    }
}