.highlight  {background: rgb(30,30,30); border-radius:0; -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);}
.highlight code {color: rgb(220,220,220);}
.highlight .c { color: rgb(96,139,76); font-style: italic } /* Comment */
.highlight .err { color:rgb(214,157,133); } /* Error */
.highlight .k { color: rgb(92, 156, 220); } /* Keyword */
.highlight .o { color: #999999; } /* Operator */
.highlight .cm { color: rgb(96,139,76); font-style: italic } /* Comment.Multiline */
.highlight .cp { color: rgb(96,139,76); font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: rgb(96,139,76); font-style: italic } /* Comment.Single */
.highlight .cs { color: rgb(96,139,76); font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { color: #999999; } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color:#999999; } /* Keyword.Constant */
.highlight .kd { color:#999999; } /* Keyword.Declaration */
.highlight .kp { color:#999999; } /* Keyword.Pseudo */
.highlight .kr { color:#999999; } /* Keyword.Reserved */
.highlight .kt {color: rgb(92, 156, 220);} /* Keyword.Type */
.highlight .kn {color: rgb(92, 156, 220)}
.highlight .m { color: rgb(184,215,165); } /* Literal.Number */
.highlight .s { color: rgb(214,157,133) } /* Literal.String */
.highlight .nl {color: rgb(220,220,220);}
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #46c2c3; } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: rgb(220,220,220); } /* Name.Attribute */
.highlight .n { color: rgb(220,220,220); } /* Name.Attribute */
.highlight .nn { color: rgb(220,220,220); } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: rgb(92, 156, 220); } /* Operator.Word */
.highlight .p { color: rgb(220,220,220); } /* Name.Attribute */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: rgb(184,215,165); } /* Literal.Number.Float */
.highlight .mh { color: rgb(184,215,165);  } /* Literal.Number.Hex */
.highlight .mi { color: rgb(184,215,165);  } /* Literal.Number.Integer */
.highlight .mo { color: rgb(184,215,165);  } /* Literal.Number.Oct */
.highlight .sb { color: rgb(214,157,133) } /* Literal.String.Backtick */
.highlight .sc { color: rgb(214,157,133) } /* Literal.String.Char */
.highlight .sd { color: rgb(214,157,133) } /* Literal.String.Doc */
.highlight .s2 { color: rgb(214,157,133) } /* Literal.String.Double */
.highlight .se { color: rgb(214,157,133) } /* Literal.String.Escape */
.highlight .sh { color: rgb(214,157,133) } /* Literal.String.Heredoc */
.highlight .si { color: rgb(214,157,133) } /* Literal.String.Interpol */
.highlight .sx { color: rgb(214,157,133) } /* Literal.String.Other */
.highlight .sr { color: rgb(214,157,133) } /* Literal.String.Regex */
.highlight .s1 { color: rgb(214,157,133) } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: rgb(220,220,220); } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vglnk { color: rgb(214,157,133); font-family: Menlo, Monaco, "Courier New", monospace; } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */