<div class="frame-layer-responsive">
    <iframe class="z-depth-2" style="margin: 0 auto;margin-bottom:15px;" width="{{include.width}}" height="{{include.height}}" src="{{include.url}}" frameborder="0"></iframe>
    <blockquote>
        <p><strong>Atenção</strong></p>
        <p class="mobile-message">
            Como você está em um dispositivo móvel a visualização do gráfico pode ser comprometida, acesse <a href="{{include.url}}" target="_blank">este link</a> para ver o gráfico em tela cheia.
        </p>
    </blockquote>
</div>