<footer class="center-on-small">
    <div class="container">

        <div class="row">
            <div class="col s12 m8">
                <div class="row">
                    <div class="col s12 m6">
                        <h3>Gabriel Schade</h3>
                        <p>Desenvolvimento,
                            <br>Inteligência Artificial<br>&amp; Ciência</p>

                        <!-- <a title="MVP - Visual Studio And Development Technologies" href="https://mvp.microsoft.com/pt-br/PublicProfile/5003167"
                            class="none-decoration hide-on-med-and-up">
                            <img class="" src="/public/img/MVP_Logo_Horizontal_1.png" style="display:inline;max-width: 60%;border-radius:0;height: 75px;">
                        </a> -->
                    </div>
                    <div class="col s12 m6">
                        <h3>Contato</h3>
                        <p><a href="mailto:gabriel.schade@outlook.com">
                                gabriel.schade@outlook.com</a></p>
                        <div class="row hide-on-med-and-up">
                            <div class="col s12">
                                <a title="Linkedin" href="https://www.linkedin.com/in/gabrielschade" class="none-decoration">
                                    <img class="icon" src="/public/icons/Linkedin.png" style="display:inline;">
                                </a><a title="Github" href="https://github.com/gabrielschade" class="none-decoration">
                                    <img class="icon" src="/public/icons/GitHub.png" style="display:inline">
                                </a>
                                <a title="RSS" href="https://gabrielschade.github.io/feed" class="none-decoration">
                                    <img class="icon" src="/public/icons/rss.png" style="display:inline">
                                </a></div>

                        </div>

                    </div>
                </div>
                <div class="row hide-on-small-only">
                    <div class="col s12 m6">
                        <a title="MVP - Visual Studio And Development Technologies" href="https://mvp.microsoft.com/pt-br/PublicProfile/5003167"
                            class="none-decoration">
                            <img class="" src="/public/img/MVP_Logo_Horizontal_1.png" style="display:inline;max-width: 60%;border-radius:0;height: 75px;">
                        </a>
                    </div>
                    <div class="col s12 m6">
                        <div class="col s12">
                            <a title="Linkedin" href="https://www.linkedin.com/in/gabrielschade" class="none-decoration">
                                <img class="icon" src="/public/icons/Linkedin.png" style="display:inline;">
                            </a><a title="Github" href="https://github.com/gabrielschade" class="none-decoration">
                                <img class="icon" src="/public/icons/GitHub.png" style="display:inline">
                            </a>
                            <a title="RSS" href="https://gabrielschade.github.io/feed" class="none-decoration">
                                <img class="icon" src="/public/icons/rss.png" style="display:inline">
                            </a></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <h3>Navegação</h3>
                <div class="row">
                    <div class="col s6">
                        <p>
                            <a href="/">Home</a>
                        </p>
                    </div>
                    <div class="col s6">
                        <p>
                            <a href="/posts-categoria">Posts</a>
                        </p>
                    </div>
                    <div class="col s6">
                        <p>
                            <a href="/livros">Livros</a>
                        </p>
                    </div>
                    <div class="col s6">
                        <p>
                            <a href="/projetos">Projetos</a>
                        </p>
                    </div>
                    <div class="col s6">
                        <p>
                            <a href="/about">Sobre</a>
                        </p>
                    </div>
                </div>


            </div>
        </div>

    </div>
</footer>