<a id="github-link" title="Github" href="{{include.link}}" target="_blank" class="github-fixed-button none-decoration">
    <img class="icon z-depth-1" src="/public/icons/GitHub.png" style="display:inline;border-radius: 0;">
</a>

<!-- Tap Target Structure -->
<div class="tap-target" data-activates="github-link">
  <div class="tap-target-content">
    <h5>Este post contém código no GitHub!</h5>
    <p>A qualquer momento você pode pressionar este botão para abrir uma nova aba com o código no GitHub!</p>
  </div>
</div>