<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="F#, FSharp, C#, CSharp, AI, IA, Inteligencia Artificial, Artificial Intelligence,.NET, aprender, learning, começar, start, jumpstart">
  <meta name="description" content="Aprenda F#, IA, C# e muito mais. .NET Software Engineer, Microsoft MVP com Mestrdo em Inteligência Artificial.">
  <!-- {% if page.image %}
    <meta property="og:image" content="{{page.image}}">
  {% endif %} -->

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %} 
      {{ page.title }}
    {% endif %}
  </title>
  
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--Import materialize.css-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- CSS -->
  
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/hyde.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/blog-new.css">



  <!-- Icons -->
 <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  
  <!-- JS -->
</head>
