{% assign link = include.content | replace: "#", "sharp" | replace:"ê", "e" | replace:"õ","o" %}
<a href="/posts-categoria/{{link | downcase}}">
<div class="img-container hoverable z-depth-1">
    {% assign image = include.content | replace: "#", "" %}
    <img class="img-image" src="/{{ site.baseurl }}public/img/{{image}}.jpg" alt="Avatar">
    <div class="img-overlay">
        <div class="img-text">
            <h2 class="center-align huge light-font img-title"> {{include.content}} </h2>
        </div>
    </div>
</div>
</a>