<div class="row">
    <div class="col m4 s12">

        <div class="card hoverable">
            <div class="card-image">
                <img src="https://imgur.com/vXifhLH.png" style="height:390px;">
                <a href="{{ site.baseurl }}{% link livros/python-guia-pratico.md %}" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                    <i class="material-icons">file_download</i>
                </a>
            </div>
            <div class="card-content" style="height: 200px;margin-top:-30px;">
                <span class="card-title" style="line-height: 35px;">Python</span>
                <p>
                    Guia prático para iniciantes!
                </p>

            </div>
        </div>

    </div>


    <div class="col m4 s12">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://imgur.com/AYvDO9w.jpg" style="height:390px;">
                    <a href="https://gabrielschade.github.io/tango-br" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                        <i class="material-icons">file_download</i>
                    </a>
                </div>
                <div class="card-content" style="height: 200px;margin-top:-30px;">
                    <span class="card-title" style="line-height: 35px;">Tango </span>
                    <p>
                        Desenvolvendo em C# com Tango!
                    </p>
                </div>
            </div>
        </div>

    <div class="col m4 s12">
        <div class="card hoverable">
            <div class="card-image">
                <img src="https://imgur.com/13V2zPj.jpg" style="height:390px;">
                <a href="https://gabrielschade.github.io/tango" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                    <i class="material-icons">file_download</i>
                </a>
            </div>
            <div class="card-content" style="height: 200px;margin-top:-30px;">
                <span class="card-title" style="line-height: 35px;">Tango </span>
                <p>
                    Developing in C# with Tango! (EN)
                </p>
            </div>
        </div>
    </div>

</div>