<div class="row">

	<div class="col s12 m6 l4 xl3 post-col">
		<div class="post post-tag">
			<a href="https://www.casadocodigo.com.br/products/livro-programacao-funcional-net" target="_blank" style="text-decoration: none;position: relative;">
				<img class="img-image" src="https://i.imgur.com/5wyJGYp.png" alt="Avatar">
				<h2 class="center">Programação funcional em .NET</h2>
			</a>
		</div>
	</div>

	<div class="col s12 m6 l4 xl3 post-col">
		<div class="post post-tag">
			<a href="https://www.casadocodigo.com.br/products/livro-kinect" target="_blank" style="text-decoration: none;position: relative;">
				<img class="img-image" src="https://i.imgur.com/UbweIW5.png" alt="Avatar">
				<h2 class="center">Microsoft Kinect</h2>
			</a>
		</div>
	</div>

	<div class="col s12 m6 l4 xl3 post-col">
		<div class="post post-tag">
			<a href="https://www.casadocodigo.com.br/products/livro-windows-phone" target="_blank" style="text-decoration: none;position: relative;">
				<img class="img-image" src="https://i.imgur.com/m6oZM6c.png" alt="Avatar">
				<h2 class="center">Windows Phone - Silverlight</h2>
			</a>
		</div>
	</div>

	<div class="col s12 m6 l4 xl3 post-col">
		<div class="post post-tag">
			<a href="https://www.casadocodigo.com.br/products/livro-windows-phone-runtime" target="_blank" style="text-decoration: none;position: relative;">
				<img class="img-image" src="https://i.imgur.com/FIcQSeq.png" alt="Avatar">
				<h2 class="center">Windows Phone</h2>
			</a>
		</div>
	</div>
</div>