<div class="row">
    <div class="col m4 s12">

        <div class="card hoverable">
            <div class="card-image">
                <img src="https://i.imgur.com/5wyJGYp.png" style="height:230px">
                <a href="https://www.casadocodigo.com.br/products/livro-programacao-funcional-net" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                    <i class="material-icons">shopping_cart</i>
                </a>
            </div>
            <div class="card-content" style="height: 150px;">
                <span class="card-title">Programação funcional em .NET</span>
                <p>
                    Explore um novo universo!
                </p>

            </div>
        </div>

    </div>


    <div class="col m4 s12">
        <div class="card hoverable">
            <div class="card-image">
                <img src="https://i.imgur.com/UbweIW5.png" style="height:230px">
                <a href="https://www.casadocodigo.com.br/products/livro-kinect" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                    <i class="material-icons">shopping_cart</i>
                </a>
            </div>
            <div class="card-content" style="height: 150px;">
                <span class="card-title">Microsoft Kinect </span>
                <p>Crie aplicações interativas!
                </p>
            </div>
        </div>
    </div>

    <div class="col m4 s12">
        <div class="card hoverable">
            <div class="card-image">
                <img src="https://i.imgur.com/m6oZM6c.png" style="height:230px">
                <a href="https://www.casadocodigo.com.br/products/livro-windows-phone" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                    <i class="material-icons">shopping_cart</i>
                </a>
            </div>
            <div class="card-content" style="height: 150px;">
                <span class="card-title">Windows Phone </span>
                <p>
                    Aprenda a desenvolver aplicações móveis!
                </p>
            </div>
        </div>
    </div>

    <div class="col m4 s12">
        <div class="card hoverable">
            <div class="card-image">
                <img src="https://i.imgur.com/FIcQSeq.png" style="height:230px">
                <a href="https://www.casadocodigo.com.br/products/livro-windows-phone-runtime" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                    <i class="material-icons">shopping_cart</i>
                </a>
            </div>
            <div class="card-content" style="height: 150px;">
                <span class="card-title">Windows Phone </span>
                <p>
                    Aprenda a desenvolver aplicações móveis com a Windows Runtime!
                </p>
            </div>
        </div>
    </div>

</div>