<div class="row">

        <div class="col s12 m6 l4 xl3 post-col">
            <div class="post post-tag post-book">
                <a href="{{ site.baseurl }}{% link livros/python-guia-pratico.md %}" target="_blank" style="text-decoration: none;position: relative;">
                    <img class="img-image" src="https://imgur.com/vXifhLH.png" alt="Avatar">
                    <h2 class="center small-header">Python</h2>
                </a>
            </div>
        </div>
    
        <div class="col s12 m6 l4 xl3 post-col">
            <div class="post post-tag post-book">
                <a href="https://gabrielschade.github.io/tango-br" target="_blank" style="text-decoration: none;position: relative;">
                    <img class="img-image" src="https://imgur.com/AYvDO9w.jpg" alt="Avatar">
                    <h2 class="center small-header">Tango | PT</h2>
                </a>
            </div>
        </div>
    
        <div class="col s12 m6 l4 xl3 post-col">
            <div class="post post-tag post-book">
                <a href="https://gabrielschade.github.io/tango" target="_blank" style="text-decoration: none;position: relative;">
                    <img class="img-image" src="https://i.imgur.com/13V2zPj.png" alt="Avatar">
                    <h2 class="center small-header">Tango | EN</h2>
                </a>
            </div>
        </div>
    </div>