<div class="row">
    <div class="col m4 s12">
        <a href="https://www.casadocodigo.com.br/products/livro-programacao-funcional-net" target="_blank" style="text-decoration: none;">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://i.imgur.com/5wyJGYp.png">
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                        <i class="material-icons">shopping_cart</i>
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title">Programação funcional em .NET: Explore um novo universo</span>
                    <p>Apesar de sua elegância e produtividade, durante muito tempo a programação funcional foi deixada de lado
                        pela maioria dos programadores, mas hoje frequentemente enfrentamos momentos em que a equipe precisa
                        ser altamente produtiva e está cada vez mais comum a necessidade de escrevermos programas que processam
                        grandes conjuntos de dados de forma distribuída entre processadores ou computadores.
                    </p>
                    <p>Nunca houve época melhor para aprender programação funcional do que agora.</p>
                </div>
            </div>
        </a>
    </div>


    <div class="col m4 s12">
        <a href="https://www.casadocodigo.com.br/products/livro-kinect" target="_blank" style="text-decoration: none;">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://i.imgur.com/UbweIW5.png">
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                        <i class="material-icons">shopping_cart</i>
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title">Microsoft Kinect: Crie aplicações interativas</span>
                    <p>Com o crescimento e popularização da tecnologia, é cada vez mais comum pessoas de diferentes idades utilizarem aplicativos. 
                        Com isso, surge a necessidade do uso de interfaces naturais em aplicações.
                    </p>
                    <p> Aprenda com este livro a criar aplicações incríveis aproveitando todos os recursos do sensor de movimentos Microsoft Kinect.</p>
                </div>
            </div>
        </a>
    </div>

</div>