<div class="row">
    <div class="col m4 s12">

        <div class="card hoverable">
            <div class="card-image">
                <img src="https://i.imgur.com/64cQlhX.png" style="height:280px;padding:15px;">
                <a href="{{ site.baseurl }}{% link livros/python-guia-pratico.md %}" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                    <i class="material-icons">file_download</i>
                </a>
            </div>
            <div class="card-content" style="height: 200px;">
                <span class="card-title">Python</span>
                <p>
                    Guia prático para iniciantes!
                </p>

            </div>
        </div>

    </div>


    <div class="col m4 s12">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://gabrielschade.gitbooks.io/tango-br/content/assets/cover-rotated-pt-50.jpg" style="height:280px;padding:15px;">
                    <a href="https://gabrielschade.github.io/tango-br" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                        <i class="material-icons">file_download</i>
                    </a>
                </div>
                <div class="card-content" style="height: 200px;">
                    <span class="card-title">Tango </span>
                    <p>
                        Desenvolvendo em C# com Tango!
                    </p>
                </div>
            </div>
        </div>

    <div class="col m4 s12">
        <div class="card hoverable">
            <div class="card-image">
                <img src="https://gabrielschade.gitbooks.io/tango/content/assets/cover%20rotated-us-50.jpg" style="height:280px;padding:15px;">
                <a href="https://gabrielschade.github.io/tango" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light teal lighten-2">
                    <i class="material-icons">file_download</i>
                </a>
            </div>
            <div class="card-content" style="height: 200px;">
                <span class="card-title">Tango </span>
                <p>
                    (EN) Developing in C# with Tango!
                </p>
            </div>
        </div>
    </div>

</div>