<div class="newsletter center">
    <div class="container">
        <h2>Assine a <span><b>News</b></span>letter</h2>
        <div id="mc_embed_signup">
            <form action="https://github.us17.list-manage.com/subscribe/post?u=9ff976dcad7d8f56f77e758cf&amp;id=2d7a41fded"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                novalidate="">
                <div id="mc_embed_signup_scroll">
                    <div class="input-field col s12">
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required="">
                        <label for="mce-EMAIL" class="">Digite seu e-mail e não perca nenhum post</label>
                    </div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9ff976dcad7d8f56f77e758cf_2d7a41fded"
                        tabindex="-1" value=""></div>
                <div class="clear">
                    <button class="btn waves-effect waves-light" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Assinar<i
                            class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>