<div class="row">
    <span style="display:none">{% increment limite %}</span>
    {% for post in site.posts %} 
        {% if limite <= 10 %}
            {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
            {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
            {% if posttime <= nowunix %}
                <div class="col m4 s12">
                    <div class="card" style="padding:15px;">
                        <span class="card-title light-font" style="line-height: normal;">{{ post.title }}</span>
                        <span class="post-date" style="font-size:18px;{{include._style}};margin-bottom:0;padding-top:15px;">{% include postdate.html %}</span>
                        <div class="card-content">
                            <div class="post-excerpt" style="{{include._style}} height: 150px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 6;
                            -webkit-box-orient: vertical;">
                                {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
                            </div>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-action">
                                {% assign rawtags = "" %}
                                {% assign ttags = post.tags | join:'|' | append:'|' %}
                                {% assign rawtags = rawtags | append:ttags %}
                                
                                {% assign rawtags = rawtags | split:'|' | sort %}
                                {% assign tags = "" %}
                                {% for tag in rawtags %}
                                    {% if tag != "" %}
                                        {% if tags == "" %}
                                            {% assign tags = tag | split:'|' %}
                                        {% endif %}
                                        {% unless tags contains tag %}
                                            {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
                                        {% endunless %}
                                    {% endif %}
                                {% endfor %}
                                
                                {% for tag in tags reversed %}
                                    {% assign link = tag | replace: "#", "sharp" %}
                                    <a href="/posts-categoria/{{link | downcase | replace: "ê", "e" | replace: "õ","o"}}" 
                                        class="collection-item">
                                        <img style="height:80px;" src="https://avatars3.githubusercontent.com/u/3276580?v=4&amp;u=454f9f40621e24e60e9d2c0d026ea05eba10287d&amp;s=400" alt="" class="center circle icon z-depth-3 responsive-img activator card-profile-image mid-image">
                                    </a>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}        
    {% endfor %}
    
</div>