<div class="row">
    <ul style="transform: translateX(0px);">
        {% increment limite %}
        {% for post in site.posts %} 
            {% if limite < 5 %}
                {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
                {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
                {% if posttime <= nowunix %}
                    {% include single-post.html %} 
                    <span style="display:none">{% increment limite %}</span>
                {% endif %}
            {% endif %}        
        {% endfor %}
    </ul>
</div>