<div class="row">
    <span style="display:none">{% increment limite %}</span>
    {% for post in site.posts %} 
        {% if limite <= 10 %}
            {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
            {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
            {% if posttime <= nowunix %}
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="public/img/EntendaoMundocomF.jpg">
                            <span class="card-title">{{ post.title }}</span>
                            <span class="post-date" style="font-size:18px;{{include._style}}">{% include postdate.html %}</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <div class="post-excerpt" style="{{include._style}}">
                                {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}        
    {% endfor %}
    
</div>