<div class="row">
    <span style="display:none">{% increment limite-cards-new %}</span>
    {% for post in site.posts %}
    {% if limite-cards-new <= 3 %} {% capture nowunix %}{{'now' | date: '%s' }}{% endcapture %} {% capture posttime
        %}{{post.date | date: '%s' }}{% endcapture %} {% if posttime <=nowunix %} <span style="display:none">{%
        increment limite-cards-new %}</span>

        {% include single-post-new.html %}

        {% endif %}
        {% endif %}
        {% endfor %}

</div>

<div class="row">
    <div class="col s12 center">
        <a class="btn waves-effect waves-light">Ver Mais
        </a>
    </div>
</div>