<div class="sidebar">

    <div class="row no-bottom">
        <div class="col s12 background"></div>
    </div>

  <div class="row mid-image-container">
    <div class="col s4">
        <img src="https://avatars3.githubusercontent.com/u/3276580?v=4&amp;u=454f9f40621e24e60e9d2c0d026ea05eba10287d&amp;s=400" alt="" 
      class="circle responsive-img activator card-profile-image mid-image">

    </div>
    <div class="col s8 margin-top-15">
        <div class="row no-bottom">
          <div class="col s12 no-padding">
              <a href="/" class="none-decoration accent-text">
                <span class="accent-text">Gabriel Schade</span>
              </a>
          </div>
        </div>
        <div class="row">
            <div class="col s12 font-16 no-padding light-text">
                  Programador, professor e escritor
                </div>
        </div>
    </div>
  </div>

  <div class="row center-align no-bottom">
      <div class="col s3 no-padding">
        <a title="Github" href="https://github.com/gabrielschade" class="icon none-decoration">
            <img class="icon-medium circle z-depth-1" src="/{{ site.baseurl }}public/icons/GitHub.png" style="display:inline" />
        </a>
      </div>
      <div class="col s3 no-padding">
        <a title="Twitter" href="https://twitter.com/gabrielschade" class="icon none-decoration">
            <img class="icon-medium circle z-depth-1" src="/{{ site.baseurl }}public/icons/Twitter.png" style="display:inline" />
        </a>
      </div>
      <div class="col s3 no-padding">
        <a title="Facebook" href="https://facebook.com/gabrielschade" class="icon none-decoration">
            <img class="icon-medium circle z-depth-1" src="/{{ site.baseurl }}public/icons/Facebook.png" style="display:inline" />
        </a>
      </div>
      <div class="col s3 no-padding">
        <a title="Linkedin" href="https://www.linkedin.com/in/gabrielschade" class="icon none-decoration">
            <img class="icon-medium circle z-depth-1" src="/{{ site.baseurl }}public/icons/Linkedin.png" style="display:inline" />
        </a>
      </div>
    </div>
  <hr class="margin-top-0"/>
  <div class="container sidebar-sticky">
      
    <nav class="sidebar-nav transparent-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/{{ site.baseurl }}">
        <span class="accent-text">Home</span>
      </a>

        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">
                  <span class="accent-text">{{ node.title }}</span>
                </a>
            {% endif %}
          {% endif %}
        {% endfor %}

    </nav>
  </div>
</div>
