<div class="sidebar z-depth-2">

  
    <div class="row margin-bottom-0" style="padding-top:75px;margin-top:0;">
        <div class="col s4">
            <a href="/{{ site.baseurl }}" class="none-decoration">
                <img style="height:80px;   " src="https://avatars3.githubusercontent.com/u/3276580?v=4&amp;u=454f9f40621e24e60e9d2c0d026ea05eba10287d&amp;s=400" alt="" class="center circle icon z-depth-3 responsive-img activator card-profile-image mid-image">
            </a>
        </div>
    
        <div class="col s8 left no-bottom">
                <span class="light-font font-medium-large">Gabriel Schade</span>
        </div>
  </div>

  <div class="row center-align no-bottom margin-top-15">
    <div class="col s3 no-padding">
        <a title="Linkedin" href="https://www.linkedin.com/in/gabrielschade" class="none-decoration">
            <img class="icon icon-medium circle z-depth-3" src="/{{ site.baseurl }}public/icons/Linkedin.png" style="display:inline" />
        </a>
    </div>
    <div class="col s3 no-padding">
      <a title="Github" href="https://github.com/gabrielschade" class="none-decoration">
          <img class="icon icon-medium circle z-depth-3" src="/{{ site.baseurl }}public/icons/GitHub.png" style="display:inline" />
      </a>
    </div>
    <div class="col s3 no-padding">
      <a title="Twitter" href="https://twitter.com/gabrielschade" class="none-decoration">
          <img class="icon icon-medium circle z-depth-3" src="/{{ site.baseurl }}public/icons/Twitter.png" style="display:inline" />
      </a>
    </div>
    <div class="col s3 no-padding">
      <a title="Facebook" href="https://facebook.com/gabrielschade" class="none-decoration">
          <img class="icon icon-medium circle z-depth-3" src="/{{ site.baseurl }}public/icons/Facebook.png" style="display:inline" />
      </a>
    </div>
  </div>
        

  

  <div class="row" style="margin-bottom:0; padding-bottom:90px">
    <ul id="slide-out" class="side-nav padding-bottom-0" style="transform: translateX(0px);background-color:transparent;">
              <li><a class="none-decoration waves-effect" href="/{{ site.baseurl }}">Home</a></li>
              <li><a class="none-decoration waves-effect" href="/posts-categoria">Posts</a></li>
              <li><a class="none-decoration waves-effect" href="/about">Sobre</a></li>
              <li><div class="divider"></div></li>
              <li><a class="none-decoration waves-effect" href="/livros">Meus livros</a></li>
              <li><a class="none-decoration waves-effect" href="/newsletter">Não perca nenhum post</a></li>
              <li><a class="none-decoration waves-effect" target="_blank" href="/itajai-net">Itajaí .NET</a></li>
            </ul>
    </div>
    
    <div class="row center-align no-bottom margin-top-15">
        <div class="col s12 no-padding">
            <a title="MVP - Visual Studio And Development Technologies" href="https://mvp.microsoft.com/pt-br/PublicProfile/5003167" class="none-decoration">
                <img class="z-depth-3" src="/{{ site.baseurl }}public/img/MVP_Logo_Horizontal_1.png" style="display:inline;max-width: 60%;border-radius:0;" />
            </a>
        </div>
    </div>
    

</div>
