<div class="row">
    <div class="col s4">
       <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">account_balance</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                formação acadêmica
            </h3>
        </div>
        <div class="row left-align">
            <ul>
            <li class="content-list-item margin-top-0">
                Mestre
                <span class="right font-small"> Computação Aplicada (Inteligência Artificial)</span>
            </li>
            <li class="content-list-item margin-top-0">
                Bacharel
                <span class="right font-small"> Ciência da Computação</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="col s4">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">book</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                publicações
            </h3>
        </div>
        <div class="row left-align">
            <ul>
            <li class="content-list-item margin-top-0">
                Evaluation of Focus Measurement Algorithms for Numerical Diffraction in Digital InlineHolography Microscopy
                <span class="right font-small"> (processo de submissão)</span>
            </li>
             <li class="content-list-item margin-top-0">
                 <a class="none-decoration waves-effect" href="http://www.ucsp.edu.pe/sibgrapi2013/index.php?option=com_content&view=article&id=81&Itemid=495">
                Biblioteca de Funções para Utilização do Kinect em Jogos Eletrônicos e Aplicações NUI
                <span class="right font-small"> SIBGRAPI 2013</span>
                </a>
             </li>
            </ul>
        </div>
    </div>
    <div class="col s4">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">textsms</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                idiomas
            </h3>
        </div>
        <div class="row left-align">
            <ul>
            <li class="content-list-item margin-top-0">
                Português
                <span class="right font-small"> nativo</span>
            </li>
            <li class="content-list-item margin-top-0">
                Inglês
                <span class="right font-small"> avançado</span>
            </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">assessment</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                certificações
            </h3>
        </div>
        <div class="row left-align">
            <ul>
            <li class="content-list-item margin-top-0">
                MCSA: Web Applications
                <span class="right font-small"> Microsoft</span>
            </li>
            <li class="content-list-item margin-top-0">
                Developing ASP.NET MVC 4 Web Applications
                <span class="right font-small"> Microsoft</span>
            </li>
            <li class="content-list-item margin-top-0">
                Programming in C#
                <span class="right font-small"> Microsoft</span>
            </li>
            <li class="content-list-item margin-top-0">
                Programming in HTML5 with JavaScript and CSS3
                <span class="right font-small"> Microsoft</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="col s4">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">code</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                linguagens favoritas
            </h3>
        </div>
        <div class="row left-align">
            <ul>
            <li class="content-list-item margin-top-0">
                C#
                <span class="right font-small"> avançado</span>
            </li>
            <li class="content-list-item margin-top-0">
                F#
                <span class="right font-small"> avançado</span>
            </li>
            <li class="content-list-item margin-top-0">
                JavaScript
                <span class="right font-small"> avançado</span>
            </li>
            <li class="content-list-item margin-top-0">
                C++
                <span class="right font-small"> intermediário</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="col s4">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">insert_emoticon</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                hobbies
            </h3>
        </div>
        <div class="row left-align">
            <ul>
            <li class="content-list-item margin-top-0">
                Programar
                <span class="right font-small"> =)</span>
            </li>
            <li class="content-list-item margin-top-0">
                Yu-gi-Oh!
                <span class="right font-small"> TCG</span>
            </li>
            <li class="content-list-item margin-top-0">
                Futebol Freestyle
            </li>
            <li class="content-list-item margin-top-0">
                Viagens
            </li>
            </ul>
        </div>
    </div>
</div>