<div class="row">
    <div class="col s12">
       <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">account_balance</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                formação acadêmica
            </h3>
        </div>
        <div class="row left-align">
            <ul class="margin-side-30">
            <li class="content-list-item margin-top-0 light-bottom-border">
                Mestre
                <span class="right font-small"> Computação Aplicada (Inteligência Artificial)</span>
            </li>
            <li class="content-list-item margin-top-0 light-bottom-border">
                Bacharel
                <span class="right font-small"> Ciência da Computação</span>
            </li>
            </ul>
        </div>  
    </div>
    <div class="col s12">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">book</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                publicações científicas
            </h3>
        </div>
        <div class="row left-align">
            <ul class="margin-side-30">
            <li class="content-list-item margin-top-0 font-16">
                <a class="none-decoration waves-effect no-padding font-12" href="https://www.journals.elsevier.com/pattern-recognition-letters/">
                Evaluation of Focus Measurement Algorithms for Numerical Diffraction in Digital Inline Holography Microscopy
                <span class="right font-10"> (em submissão)</span>
                 </a>
            </li>
             <li class="content-list-item margin-top-0 font-16">
                 <a class="none-decoration waves-effect font-12 no-padding" href="http://www.ucsp.edu.pe/sibgrapi2013/index.php?option=com_content&view=article&id=81&Itemid=495">
                Biblioteca de Funções para Utilização do Kinect em Jogos Eletrônicos e Aplicações NUI
                <span class="right font-10"> SIBGRAPI 2013</span>
                 </a>
             </li>
            </ul>
        </div>
    </div>

    <div class="col s12">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">library_books</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                livros
            </h3>
        </div>
        <div class="row left-align">
            <ul class="margin-side-30">
            <li class="content-list-item margin-top-0 font-16">
                <a class="none-decoration waves-effect font-16 no-padding" href="https://www.casadocodigo.com.br/products/livro-programacao-funcional-net">
                    Programação funcional em .NET - Explore um novo universo
                <span class="right font-small">2017</span>
                 </a>
            </li>
            <li class="content-list-item margin-top-0 font-16">
                <a class="none-decoration waves-effect font-16 no-padding" href="https://www.casadocodigo.com.br/products/livro-kinect">
                Criando Aplicações Interativas com o Microsoft Kinect
                <span class="right font-small">2013</span>
                 </a>
            </li>
             <li class="content-list-item margin-top-0 font-16">
                 <a class="none-decoration waves-effect font-small no-padding" href="https://www.casadocodigo.com.br/products/livro-windows-phone-runtime">
                Criando aplicações para seu Windows Phone - Edição Windows Runtime
                <span class="right font-small"> 2014</span>
                 </a>
             </li>
              <li class="content-list-item margin-top-0 font-16">
                 <a class="none-decoration waves-effect font-16 no-padding" href="https://www.casadocodigo.com.br/products/livro-windows-phone">
                Criando aplicações para o seu Windows Phone - Edição Silverlight
                <span class="right font-small"> 2014</span>
                 </a>
             </li>
            </ul>
        </div>
    </div>

    <div class="col s12">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">assessment</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                certificações
            </h3>
        </div>
        <div class="row left-align">
            <ul class="margin-side-30">
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                MCSA: Web Applications
                <span class="right font-small"> Microsoft</span>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                Developing ASP.NET MVC 4 Web Applications
                <span class="right font-small"> Microsoft</span>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                Programming in C#
                <span class="right font-small"> Microsoft</span>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                Programming in HTML5 with JavaScript and CSS3
                <span class="right font-small"> Microsoft</span>
            </li>
            </ul>
        </div>
    </div>

<div class="col s12">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">share</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                palestras
            </h3>
        </div>
        <div class="row left-align">
            <ul class="margin-side-30">
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                <a class="none-decoration waves-effect font-16 no-padding" href="http://univali.br">
                    Uma abordagem funcional para o gerenciamento de erros
                <span class="right font-small"> Itajaí.NET - 2017</span>
                </a>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                <a class="none-decoration waves-effect font-16 no-padding" href="http://univali.br">
                    A importância da programação funcional no dia-a-dia
                <span class="right font-small"> UNIVALI - 2017</span>
                </a>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                <a class="none-decoration waves-effect font-16 no-padding" href="http://univali.br">
                    Curso de extensão - Introdução à programação funcional
                <span class="right font-small"> UNIVALI - 2017</span>
                </a>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                    <a class="none-decoration waves-effect font-16 no-padding" href="https://www.meetup.com/qualyteam/events/243888032/">
                        Linguagem Ubíqua + Código Expressivo = Felicidade :)
                    <span class="right font-small"> Meetup DDD - 2017</span>
                    </a>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                <a class="none-decoration waves-effect font-16 no-padding" href="http://univali.br">
                Pense funcional, um jeito diferente de desenvolver software
                <span class="right font-small"> UNIVALI - 2017</span>
                </a>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                <a class="none-decoration waves-effect font-16 no-padding" href="http://univali.br">
                Curso de extensão - Web com ASP.NET MVC
                <span class="right font-small"> UNIVALI - 2016</span>
                </a>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                <a class="none-decoration waves-effect font-16 no-padding" href="http://www.thedevelopersconference.com.br/tdc/2014/florianopolis/trilha-dot-net">
                Desenvolvimento com o Kinect SDK
                <span class="right font-small"> The Developers Conference - 2014</span>
                 </a>
            </li>
             <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                 <a class="none-decoration waves-effect font-16 no-padding" href="http://www.thedevelopersconference.com.br/tdc/2014/florianopolis/trilha-web">
                Atualizações sem F5 com Websockets
                <span class="right font-small"> The Developers Conference - 2014</span>
                 </a>
             </li>
             <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                    <a class="none-decoration waves-effect font-16 no-padding" href="http://calcomp.inf.furb.br/semana/">
                   Aplicações Interativas com Dispositivos Não convencionais
                   <span class="right font-small"> FURB - 2014</span>
                    </a>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                <a class="none-decoration waves-effect font-16 no-padding" href="http://univali.br">
                Aplicações Interativas com Dispositivos Não convencionais
                <span class="right font-small"> UNIVALI - 2014</span>
                </a>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                <a class="none-decoration waves-effect font-16 no-padding" href="http://univali.br">
                HTML 5 na Prática
                <span class="right font-small"> UNIVALI - 2014</span>
                </a>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                 <a class="none-decoration waves-effect font-16 no-padding" href="http://www.thedevelopersconference.com.br/tdc/2013/florianopolis/trilha-dot-net#programacao">
                Desenvolvimento com o Kinect SDK
                <span class="right font-small"> The Developers Conference - 2013</span>
                 </a>
            </li>
            <li class="content-list-item margin-top-0 font-16 light-bottom-border">
                    <a class="none-decoration waves-effect font-16 no-padding" href="https://catarinati.com.br/evento-da-bludotnet-traz-palestra-sobre-desenvolvimento-com-kinect/">
                    Desenvolvendo com o Kinect
                    <span class="right font-small">MSDN Community - 2013</span>
                     </a>
            </li>
             
             
             
            </ul>
        </div>
    </div>

    <div class="col s12">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">code</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                linguagens favoritas
            </h3>
        </div>
        <div class="row left-align">
            <ul class="margin-side-30">
            <li class="content-list-item margin-top-0 light-bottom-border">
                C#
                <span class="right font-small"> avançado</span>
            </li>
            <li class="content-list-item margin-top-0 light-bottom-border">
                F#
                <span class="right font-small"> avançado</span>
            </li>
            <li class="content-list-item margin-top-0 light-bottom-border">
                Python
                <span class="right font-small light-bottom-border"> intermediário</span>
            </li>
            <li class="content-list-item margin-top-0 light-bottom-border">
                JavaScript
                <span class="right font-small light-bottom-border"> intermediário</span>
            </li>
            <li class="content-list-item margin-top-0 light-bottom-border">
                C++
                <span class="right font-small"> intermediário</span>
            </li>
            </ul>
        </div>
    </div>
    
    <div class="col s12">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">textsms</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                idiomas
            </h3>
        </div>
        <div class="row left-align">
            <ul class="margin-side-30">
            <li class="content-list-item margin-top-0 light-bottom-border">
                Português
                <span class="right font-small"> nativo</span>
            </li>
            <li class="content-list-item margin-top-0 light-bottom-border">
                Inglês
                <span class="right font-small"> avançado</span>
            </li>
            </ul>
        </div>
    </div>
<div class="col s12">
        <div class="row center-align no-bottom">
            <i class="material-icons gold font-large">insert_emoticon</i>
        </div>
        <div class="row center-align">
            <h3 class="center-align huge light-font">          
                hobbies
            </h3>
        </div>
        <div class="row left-align">
            <ul class="margin-side-30">
            <li class="content-list-item margin-top-0 light-bottom-border">
                Programar
            </li>
            <li class="content-list-item margin-top-0 light-bottom-border">
                Yu-Gi-Oh!
            </li>
            <li class="content-list-item margin-top-0 light-bottom-border">
                Futebol Freestyle
            </li>
            </ul>
        </div>
    </div>
    </div>