<div>
<iframe style="margin: 0 auto;display: block;margin-bottom:15px;" 
        width="{{include.width}}" 
        height="{{include.height}}" 
        src="{{include.url}}" 
        frameborder="0" 
        scrolling="no" 
        allowfullscreen></iframe>
</div>

<iframe src="//www.slideshare.net/slideshow/embed_code/key/odgI3h7qVpE1Br" 
        width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" 
        style="margin: 0 auto;display: block;margin-bottom:15px;"
        allowfullscreen> 
</iframe> 