{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
{% if tag != "" %}
{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}
{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<div class="row">
	{% for tag in tags %}
	{% assign link = include.content | replace: "#", "sharp" %}
	{% assign image = include.content | replace: "#", "" %}
	<div class="col s12 m6 l4">
		<div class="post post-tag">
			<a href="{{ post.url }}" style="text-decoration: none;position: relative;">

				<img class="img-image" src="/{{ site.baseurl }}public/img/{{image}}.jpg" alt="Avatar">
				<h2 class="center">{{include.content}}</h2>
			</a>
		</div>
	</div>
	{% endfor %}
</div>