{% assign rawseries = "" %}
{% for post in site.posts %}
{% assign _series = post.serie | join:'|' | append:'|' %}
{% assign rawseries = rawseries | append:_series %}
{% endfor %}
{% assign rawseries = rawseries | split:'|' | sort %}

{% assign series = "" %}
{% for serie in rawseries %}
{% if serie != "" %}
{% if series == "" %}
{% assign series = serie | split:'|' %}
{% endif %}
{% unless series contains serie %}
{% assign series = series | join:'|' | append:'|' | append:serie | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<div class="row">
	{% for serie in series %}
	{% assign link = serie | replace: "#", "sharp" %}
	{% assign image = serie | replace: "#", "" | replace: " ", "" %}
	<div class="col s12 m6 l4 xl3 post-col">
		<div class="post post-tag">
			<a href="/posts-serie/{{link | downcase | replace: "ê", "e" | replace: "õ","o" | replace: "ã", "a"}}" style="text-decoration: none;position: relative;">

				<img class="img-image" src="/{{ site.baseurl }}public/img/{{image}}.jpg" alt="Avatar">
				<h2 class="center small-header">{{serie}}</h2>
			</a>
		</div>
	</div>
	{% endfor %}
</div>