<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper nav-tango">
                <a href="#" class="brand-logo">
                        <img class="responsive-img img-tango" src="https://gabrielschade.gitbooks.io/tango-br/content/assets/logo%20tango%20branco.png" 
                        style="height:64px;"
                        >
                </a>
          <ul class="right hide-on-med-and-down" style="float:left !important">
            <li><a href="#" class="active">Docs</a></li>
            <li><a href="https://gabrielschade.github.io/">Languages(soon)</a></li>
            <li><a href="https://gabrielschade.github.io/">Blog</a></li>
            <li><a href="https://github.com/gabrielschade/Tango">Github</a></li>
          </ul>
        </div>
      </nav>
  </div>
