<!DOCTYPE html>
<html lang="en-us">

{% include head-new.html %}

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Gabriel Schade</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="/{{ site.baseurl }}">Home</a></li>
          <li><a href="/posts-categoria">Posts</a></li>
          <li><a href="/livros">Livros</a></li>
          <li><a href="/livros">Projetos</a></li>
          <li><a href="/about">Sobre</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <li><a href="/{{ site.baseurl }}">Home</a></li>
      <li><a href="/posts-categoria">Posts</a></li>
      <li><a href="/livros">Livros</a></li>
      <li><a href="/livros">Projetos</a></li>
      <li><a href="/about">Sobre</a></li>
  </ul>
 

  {{ content }}
  <div style="min-height: 1000px;"></div>
  {% include scripts-new.html %}
</body>

</html>