<!DOCTYPE html>
<html lang="en-us">

{% include head-new.html %}

<body>

  {% include header-new.html %}

  <div style="min-height: 1000px;">
    <div class="content-div-home">
      <div class="parallax-container">
        <div class="parallax"><img src="https://i.imgur.com/2RgVzmr.png" style="display: block; transform: translate3d(-50%, 723.702px, 0px); opacity: 1;"></div>
      </div>

      <div class="container">
        {{ content }}
      </div>
    </div>
  </div>

  {% include newsletter-new.html %}
  {% include footer.html %}
  {% include scripts-new.html %}
</body>

</html>