<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
      <div class="bg-image hide-on-med-and-down">
      </div>
      
    {% include sidebar.html %}

    <div class="content container intro-content hide-on-med-and-down">
      <div class="content-bottom padding-bottom-80">
          <p class="flow-text light-font white-text margin-bottom-0">
            Olá! Eu sou <strong class="default-font white-text">Gabriel Schade</strong>.</p>
          <p class="flow-text light-font white-text">
            Seja bem-vindo. Aqui você encontrará artigos sobre desenvolvimento de software, opiniões e um pouquinho de ciência.
          </p>
      </div>
      
    </div>
    <div class="content container padding-top-0">
      {{ content }}
    </div>

{% include scripts.html %}
  </body>
</html>
