<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
      <div class="bg-image">
      </div>
      
    {% include sidebar.html %}

    <div class="content container intro-content">
      <div class="content-bottom padding-bottom-80">
          <h1 class="text-lg margin-bottom-0">Olá! Eu sou Gabriel Schade, seja bem-vindo ao meu blog!</h1>
          <h5>programador, professor e escritor</h5>
      </div>
      
    </div>
    <div class="content container">
      {{ content }}
    </div>

{% include scripts.html %}
  </body>
</html>
