---
layout: default-new
---

  {% assign post = page %}

  <div class="post-text">
    <div class="container">
      
        {% if page.image && page.imageHeader %}
          <div class="bg-head-post" style="background:url('{{page.image}}')">
            <div class="bg-layer-post" >
              <h2 class="center" style="margin: 0;">
                  {{page.title}}
              </h2>
            </div>
          </div>  
        {% endif %}
        
        {% unless page.image && page.imageHeader %} 
          <h2 class="center">
            {{page.title}}
          </h2>
        {% endunless %}
      
      <div class="row hide-on-mobile">
        <div class="col s12 m6">
          <div class="post-date" style="text-align: left;vertical-align: middle;">
              <i class="material-icons time-icon hide" style="line-height: 1.4em;">access_time</i>
              <span id="time-to-read" style="display: inline-block;margin-left: 5px;vertical-align: top;margin-top: -0.5%;">
              </span>
              
              <br/>
              {% include post-serie-badges-new.html %} 
          </div>
        </div>
        <div class="col s12 m6">
            <div class="post-date">
              {% include postdate.html %}
              <br/>
              
              {% include post-tags-images-new.html %} 
            </div>    
        </div>
      </div>

      <div class="row hide-on-desktop">
        <div class="col s12">
          <div class="post-date" style="vertical-align: middle;">
              <i class="material-icons time-icon hide" style="line-height: 1.4em;">access_time</i>
              <span id="time-to-read" style="display: inline-block;margin-left: 5px;vertical-align: top;margin-top: -0.5%;">
              </span>
              
              <br/>
              <div class="post-date">
                {% include postdate.html %}

                <br/>
                {% include post-serie-badges-new.html %} 
                <br/>
                {% include post-tags-images-new.html %} 
              </div>
          </div>
        </div>
        <div class="col s12 m6">
            <div class="post-date">
              
              
            </div>    
        </div>
      </div>
      

      <div class="content-count">
      {{ content }}
      </div>
</div>
</div>



 <div class="container">
    {% include disqus.html %}
    <div class="related">
        <h3 class="center small-header mt-3">Você pode ter interesse em</h2>

        <div class="row">
          {% for post in site.related_posts limit:5 %}
              {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
              {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
              {% if posttime <= nowunix %}
                {% include single-post-new.html _style="display:none;" _padding="padding-bottom:0;" %} 
              {% endif %}
          {% endfor %}
        </ul>
      </div>
  </div>
</div>