---
layout: default-new
---

  {% assign post = page %}

  <div class="post-text">
    <div class="container">
      
        {% if page.image %}
          <div class="bg-head-post" style="background:url('{{page.image}}')">
            <div class="bg-layer-post" >
              <h2 class="center" style="margin: 0;">
                  {{page.title}}
              </h2>
            </div>
          </div>  
        {% endif %}
        {% unless page.image %} 
          <h2 class="center">
            {{page.title}}
          </h2>
        {% endunless %}
      
      <div class="post-date">
        {% include postdate.html %}
        <br/>
        {% include post-serie-badges-new.html %} 
        {% include post-tags-images-new.html %} 
      </div>

      {{ content }}
</div>
</div>



 <div class="container">
    {% include disqus.html %}
    <div class="related">
        <h3 class="center small-header mt-3">Você pode ter interesse em</h2>

        <div class="row">
          {% for post in site.related_posts limit:5 %}
              {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
              {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
              {% if posttime <= nowunix %}
                {% include single-post-new.html _style="display:none;" _padding="padding-bottom:0;" %} 
              {% endif %}
          {% endfor %}
        </ul>
      </div>
  </div>
</div>